.about {
  padding: 120px 0 145px;
  background-color: $color-bg-gray;

  @include vp-1023 {
    padding: 90px 0 80px;
  }

  @include vp-767 {
    padding: 50px 0 85px;
  }
}

.about__container {
  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 25px;
  }
}

.about__text {
  padding-top: 55px;

  @include vp-1023 {
    padding-top: 0;
  }

  h2 {
    margin-bottom: 25px;
    text-align: left;

    @include vp-1023 {
      margin-bottom: 12px;

    }

    @include vp-767 {
      margin-bottom: 17px;
    }

    @include vp-520 {
      max-width: 220px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;

    @include vp-1023 {
      margin-top: 0;
    }

    @include vp-767 {
      margin-bottom: 45px;
    }
  }
}

.about__img {
  margin-left: 40px;
  float: right;
  flex-shrink: 0;

  @include vp-1023 {
    margin-left: 30px;

    & img {
      max-width: 324px;

      @include vp-767 {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  @include vp-767 {
    margin-left: 0;
    order: 1;
  }
}
