.contacts {
  padding: 120px 0;
}

.contacts__container {
  display: flex;
  column-gap: 100px;
}

.contacts__info {
  padding-top: 80px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  p {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.contacts__map {
  max-width: 560px;
  width: 100%;

}

.contacts__link {
  display: block;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  svg {
    margin-right: 10px;
  }
}
