.footer {
  background-color: $color-bg-dark;
  padding: 50px 0;

  @include vp-1023 {
    padding: 45px 0;
  }

  @include vp-767 {
    padding: 40px 0;
  }
}

.footer__container {
  display: flex;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 20px;
  }
}

.footer__menu {
  @include vp-1023 {
    .menu__list {
      li {
        margin-bottom: 5px;
      }

      .menu__link {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}


.footer__socials {
  margin-left: auto;
  display: flex;
  column-gap: 27px;

  @include vp-1023 {
    column-gap: 20px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.social__item {
  fill: $fill-light;

  svg {
    @include vp-1023 {
      width: 16px;
      height: 16px;
    }
  }
}
