.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  &--is-scrolled {
    border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.1);
    background-color: #252525a2;

  }
}



.header__logo--dark {
  display: none;
}


.header__body {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 108px;

  @include vp-1023 {
    min-height: 80px;
  }

  @include vp-767 {
    min-height: 60px;
  }
}


.header__burger-button {
  display: none;

  @include vp-767 {
    position: relative;
    display: block;
    margin-left: auto;
    border: none;
    width: 24px;
    height: 12px;
    z-index: 3;
    background-color: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}

.header__burger-button::before,
.header__burger-button::after {
  content: "";
  background-color: $fill-light;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header__burger-button::before {
  top: 0;
}

.header__burger-button::after {
  bottom: 0;
}

.header__burger-button span {
  position: absolute;
  background-color: $fill-light;
  left: 0;
  width: 100%;
  height: 2px;
  top: 5px;
  transition: all 0.3s ease 0s;
}

.header-menu--is-active .header__burger-button span {
  transform: scale(0);
}

.header-menu--is-active .header__burger-button::before {
  transform: rotate(45deg);
  top: 5px;
  background-color: $fill-dark;
}

.header-menu--is-active .header__burger-button::after {
  transform: rotate(-45deg);
  bottom: 5px;
  background-color: $fill-dark;
}

.header__menu {
  width: auto;
  height: auto;
  padding: 0;
  position: static;
  margin-left: auto;
  background-color: transparent;

  @include vp-767 {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 75px 15px 10px;
    max-width: 285px;
    height: 100%;
    background-color: $color-bg-light;
    transition: all 0.3s ease 0s;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 108px;
      z-index: 10;

      @include vp-1023 {
        height: 80px;
      }

      @include vp-767 {
        height: 60px;
      }
    }
  }
}

.header-menu--is-active .header__menu {
  right: 0;
  overflow: auto;
}

.header-menu--is-active .menu__link {
  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-text-dark;
  }
}

.header-menu--is-active .header__logo {
  @include vp-767 {
    position: absolute;
    right: 120px;

    &--light {
      display: none;
    }

    &--dark {
      display: block;
    }
  }
}

.header-menu--is-active .header__burger-button {
  width: 13px;
}


/* поведение меню при выключенном джаваскрипте */

@include vp-767 {
  .no-js .header {
    position: static;
    padding: 10px 0 0;
    background-color: $color-bg-gray;
  }

  .no-js .header__container {
    padding: 0;

  }

  .no-js .header__body {
    height: auto;
    flex-direction: column;
  }

  .no-js .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $fill-light;
    box-shadow: 0px 3px 3px -3px $fill-light;
    margin: 0;

    &--dark {
      display: none;
    }
  }

  .no-js .menu__list {
    text-align: center;
    margin: 0;

    li {
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid $fill-light;
      box-shadow: 0px 3px 3px -3px $fill-light;
    }

    a {
      font-size: 18px;
      color: $color-text-light;

      @include vp-520 {
        font-size: 14px;
      }
    }
  }

  .no-js .header__menu {
    position: static;
    padding: 0;
    max-width: 100%;
    width: 100%;
    background-color: $color-bg-gray;
  }


  .no-js .header__menu::before {
    display: none;
  }

  .no-js .header__burger-button {
    display: none;
  }

  .no-js .header__menu {
    right: 0;
    height: auto;
    margin: 0 auto;
  }
}
