.intro {
  position: relative;
  padding: 10px 0;
  margin-top: -108px;
  color: $color-text-light;
  background: $color-bg-dark;

  @include vp-1023 {
    margin-top: -80px;
  }

  @include vp-767 {
    margin-top: -60px;
  }
}

.intro__container {
  position: relative;
  margin-top: 260px;
  min-height: 370px;

  @include vp-1023 {
    min-height: 365px;
  }

  @include vp-767 {
    margin-top: 165px;
    min-height: 320px;
  }
}

.intro__text {
  padding-left: 95px;
  position: relative;
  z-index: 1;

  @include vp-1023 {
    padding-left: 0;
  }


  h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 10px;

    @include vp-1023 {
      margin-bottom: 12px;
      font-size: 50px;
      line-height: 61px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 45px;
    }
  }

  p {
    margin-top: 0;
    font-size: 20px;
    line-height: 24px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }
}

.intro__ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
