.products {
  padding: 85px 0 105px;
}

.products__container {}

.products__list {
  padding: 0 15px;
  padding-top: 26px;
  display: flex;
  // justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}


.products__item {
  flex: 0 0 260px;
  height: 100%;
}
