.products {
  padding: 85px 0 105px;
}

.products__container {}

.products__list {

  padding: 0 15px;
  padding-top: 26px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}


.products__item {
  height: 100%;
  max-width: 260px;
  width: 100%;
  flex-shrink: 0;
}
