.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.rouble {
  font-family: $ff-rouble;
  /* stylelint-disable */
  text-transform: lowercase !important;
  font-weight: 400 !important;
  /* stylelint-enable */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}


h2 {
  margin-top: 0;
  margin-bottom: 49px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-default-black , $alpha: 0.5);
  z-index: 2;
}


.btn-back-to-top {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: $color-bg-dark;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  @include vp-767 {
    width: 35px;
    height: 35px;
    right: 35px;
    bottom: 50px;
  }
}

.btn-back-to-top:hover {
  background-color: $color-torch-red;
  box-shadow: 0 0 5px 1px $color-bg-dark;
}

.btn-back-to-top::before,
.btn-back-to-top::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

.btn-back-to-top::before {
  width: 5px;
  height: 19px;
  background-color: $fill-light;

  @include vp-767 {
    width: 2px;
    height: 19px;
  }
}

.btn-back-to-top::after {
  width: 15px;
  height: 15px;
  border-top: 5px solid $fill-light;
  border-left: 5px solid $fill-light;
  transform: translate(-50%, -50%) rotate(45deg);


  @include vp-767 {
    width: 12px;
    height: 12px;
    top: 15px;
    border-width: 3px;
  }
}

.btn-back-to-top--show {
  visibility: visible;
  opacity: 1;
}
.btn-back-to-top--green {
  background-color: green;
}

